.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.progress {
  width: 100.8px;
  height: 16.8px;
  border-radius: 16.8px;
  background: repeating-linear-gradient(135deg, #c5a3ff 0 8.4px, rgba(206, 173, 232, 0.75) 0 16.8px) left/0% 100% no-repeat,
              repeating-linear-gradient(135deg, rgba(243, 71, 255, 0.2) 0 8.4px, rgba(71, 75, 255, 0.1) 0 16.8px) left/100% 100%;
  animation: progress-p43u5e 2s infinite;
}

@keyframes progress-p43u5e {
  100% {
    background-size: 100% 100%;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  flex-direction: column;
}

.maze {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  gap: 2px;
}

.maze div {
  width: 30px;
  height: 30px;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.maze div.wall {
  background-color: #343a40;
}

.maze div.path {
  background-color: #d5aaff;
}

.maze div.star {
  font-size: 24px;
  color: gold;
}

.maze div.goal {
  background-color: #ffc107; /* Color de la meta */
  font-size: 24px;
  color: white;
}